version: '3.8'

services:

  frontend:
    build: ./frontend
    container_name: mean_frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: mean_backend
    environment:
      - MONGO_URL=mongodb://mongo:27017/meanapp
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo:5
    container_name: mean_mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  nginx:
    image: nginx:latest
    container_name: mean_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data:
