name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Frontend Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend ./frontend

      - name: Build Backend Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend ./backend

      - name: Push Frontend Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend

      - name: Push Backend Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: SSH into Server and Deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/mean-app
            docker compose pull
            docker compose down
            docker compose up -d
